// Define variables for your color scheme

// For example:
$red: #FF4B3E;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #393938;
$light-gray: #F4F4F4;


$white: #ECE4DD; 
$offwhite: #DBD8D2;
$black: #1C1D1B;
