<section class="section-a">
  <div class="container">
  <div class="banner-text">
    <h1>A better way for bars and brands to do business</h1>
    <p>
      The online auction where bars can tender their listings deals and drinks brands can bid for them.
      </p>
    <%= link_to 'Browse Tenders', drinks_path, class:'brk-btn' %>

    <a href="#">Watch Demo</a>
    </div>
    <div class="animations">
      <div class="static">
        <div class="mover">
          <img class="mover-left" src="https://i.ibb.co/tsMm744/Left2.png" />
        </div>
         <div class="mover">
          <img class="mover-right" src="https://i.ibb.co/rskVFQm/Right1.png" />
        </div>
         <div class="mover">
          <img class="mover-left" src="https://i.ibb.co/SXx5R40/Left1.png" />
        </div>
         <div class="mover">
          <img class="mover-right" src="https://i.ibb.co/FqGY7Pt/Right2.png" />
        </div>
              <div class="mover">
          <img class="mover-left" src="https://i.ibb.co/tsMm744/Left2.png" />
        </div>
         <div class="mover">
          <img class="mover-right" src="https://i.ibb.co/rskVFQm/Right1.png" />
        </div>
         <div class="mover">
          <img class="mover-left" src="https://i.ibb.co/SXx5R40/Left1.png" />
        </div>
         <div class="mover">
          <img class="mover-right" src="https://i.ibb.co/FqGY7Pt/Right2.png" />
        </div>
              <div class="mover">
          <img class="mover-left" src="https://i.ibb.co/tsMm744/Left2.png" />
        </div>
         <div class="mover">
          <img class="mover-right" src="https://i.ibb.co/rskVFQm/Right1.png" />
        </div>
         <div class="mover">
          <img class="mover-left" src="https://i.ibb.co/SXx5R40/Left1.png" />
        </div>
         <div class="mover">
          <img class="mover-right" src="https://i.ibb.co/FqGY7Pt/Right2.png" />
        </div>
      </div>
    </div>
  </div>
</section>
