<section class="section-a">
  <div class="container">
  <div>
    <h1>A better way for bars and brands to do business</h1>
    <p>
      The online auction where bars can tender their listings deals and drinks brands can bid for them.
      </p>
    <a href="#" class="brk-btn">Get Started</a>
    <a href="#">Watch Demo</a>
    </div>
    <div class="animations">
      <div class="static">
        <div class="mover">
          <img class="mover-left" src="https://i.ibb.co/WkLYPsN/Untitled-Artwork-17.png" />
        </div>
         <div class="mover">
          <img class="mover-right" src="https://i.ibb.co/WkLYPsN/Untitled-Artwork-17.png" />
        </div>
         <div class="mover">
          <img class="mover-left" src="https://i.ibb.co/WkLYPsN/Untitled-Artwork-17.png" />
        </div>
         <div class="mover">
          <img class="mover-right" src="https://i.ibb.co/WkLYPsN/Untitled-Artwork-17.png" />
        </div>
      </div>
    </div>
  </div>
</section>
