 <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6></h6>
            <p class="text-justify">
          </div>
          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li>Drink Responsibly</li>
              <li>Why We Started</li>
              <li>Meet The Office Dog</li>
            </ul>
          </div>
          <div class="col-xs-6 col-md-3">
            <h6>Address</h6>
            <ul class="footer-links">
              <li>Central london</li>
              <li>Somewhere</li>
              <li>London, UK</li>
            </ul><br>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-sm-6 col-xs-12"><br>
            <div class="featured-on-entries">
<div class="featured-on-entry featured-on-entry--title featured-on__title featured-on__title--desktop">
<strong>
As featured on:
</strong>
</div>
<div class="featured-on-entry featured-on-logo">
<img alt="The Telegraph" data-lazy-srcset="https://www-assets.carwow.co.uk/assets/featured_on/the_telegraph_light-87b1625cc624579783dcc801dbcb9c57f68753f7fbe0fe88f0f40ecab96b36e8.svg" srcset="https://www-assets.carwow.co.uk/assets/featured_on/the_telegraph_light-87b1625cc624579783dcc801dbcb9c57f68753f7fbe0fe88f0f40ecab96b36e8.svg" src="https://www-assets.carwow.co.uk/assets/featured_on/the_telegraph_light-87b1625cc624579783dcc801dbcb9c57f68753f7fbe0fe88f0f40ecab96b36e8.svg">
</div>
<div class="featured-on-entry featured-on-logo">
<img alt="The Guardian" data-lazy-srcset="https://www-assets.carwow.co.uk/assets/featured_on/the_guardian_light-01eaca7c52abcb52b9801c22eb74ee93b9102c6c5b7e282989de06deaa9b0567.svg" srcset="https://www-assets.carwow.co.uk/assets/featured_on/the_guardian_light-01eaca7c52abcb52b9801c22eb74ee93b9102c6c5b7e282989de06deaa9b0567.svg" src="https://www-assets.carwow.co.uk/assets/featured_on/the_guardian_light-01eaca7c52abcb52b9801c22eb74ee93b9102c6c5b7e282989de06deaa9b0567.svg">
</div>
<div class="featured-on-entry featured-on-logo">
<img alt="The Independent" data-lazy-srcset="https://www-assets.carwow.co.uk/assets/featured_on/the_independent_light-2584eef537a285e84b7410a31aefa488fd23baeb5d4338d1048c656b21b1d7e7.svg" srcset="https://www-assets.carwow.co.uk/assets/featured_on/the_independent_light-2584eef537a285e84b7410a31aefa488fd23baeb5d4338d1048c656b21b1d7e7.svg" src="https://www-assets.carwow.co.uk/assets/featured_on/the_independent_light-2584eef537a285e84b7410a31aefa488fd23baeb5d4338d1048c656b21b1d7e7.svg">
</div>
<div class="featured-on-entry featured-on-logo">
<img alt="The Financial Times" data-lazy-srcset="https://www-assets.carwow.co.uk/assets/featured_on/the_financial_times_light-08cc1a55a06ae6754d5577f1c2dbf72a5c8662b3eac7f48390c953a47fbfbb98.svg" srcset="https://www-assets.carwow.co.uk/assets/featured_on/the_financial_times_light-08cc1a55a06ae6754d5577f1c2dbf72a5c8662b3eac7f48390c953a47fbfbb98.svg" src="https://www-assets.carwow.co.uk/assets/featured_on/the_financial_times_light-08cc1a55a06ae6754d5577f1c2dbf72a5c8662b3eac7f48390c953a47fbfbb98.svg">
</div>
</div>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12">
            <ul class="social-icons"><br>
              <li><a class="facebook" href="https://www.facebook.com/kiyanpayexchange"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="https://twitter.com/kiyanpay"><i class="fa fa-twitter"></i></a></li>
              <li><a class="instagram" href="https://www.instagram.com/kiyanpay/"><i class="fa fa-instagram"></i></a></li> 
            </ul>
          </div>
        </div>
      </div>
</footer>

