 <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6></h6>
            <p class="text-justify">
          </div>
          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <div class="col-xs-6 col-md-3">
            <h6>Address</h6>
            <ul class="footer-links">
              <li>Central london</li>
              <li>Somewhere</li>
              <li>London, UK</li>
            </ul><br>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-sm-6 col-xs-12"><br>
            <p class="copyright-text">Come to visit our web application ....blabla bla text to write <a href="https://www.fscs.org.uk/" target="_blank">fscs.org.uk.</a><br><br><br>
            </p>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12">
            <ul class="social-icons"><br>
              <li><a class="facebook" href="https://www.facebook.com/kiyanpayexchange"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="https://twitter.com/kiyanpay"><i class="fa fa-twitter"></i></a></li>
              <li><a class="instagram" href="https://www.instagram.com/kiyanpay/"><i class="fa fa-instagram"></i></a></li> 
            </ul>
          </div>
        </div>
      </div>
</footer>