.drinks-index-banner {
    margin-top: 90px;
    height: 160px;
    text-align: center;
    background: #FF4B3E;
    color: #ECE4DD;
    padding-top: 20px;
    h2 {
        padding-top: 40px;

    }
}


