 <h1 class="mt-5">aaaaaaaaaaaaaaaaaaaaaaaaaa</h1>
  <h1>aaaaaaaaaaaaaaaaaaaaaaaaaa</h1>



 <% @products.each do |product|%>
   <h2><%= product.name %></h2>
    <h1><%= product.description %></h1>
 <% end %>


