<div class="products-index-banner">
    <h2>Spend less time doing admin and more time providing great service</h2>
</div>

<div class="drink-index-top">
<section class="hero-section">
  <div class="card-grid">
    <% @products.each do |product|%>
      <a class="card" href="#">
        <div class="card__background_product" style="background-image: url(https://images.unsplash.com/photo-1522877341927-e5dc72935d29?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=668&q=80)"></div>
        <div class="card__content">
          <p class="card__category"><%= product.name %></p>
          <h3 class="card__heading_product"><%= product.description %></h3>
        </div>
      </a>
    <% end %>
</section>
</div>
